<?xml version="1.0"?>
<launch>
	<node name="planner" pkg="path_schedule" type="psplanner" output = "screen" />
	<node pkg="path_schedule" name="agent1" type="psagent" output = "screen" args="1 2 0 0 2 5 0">
    </node>
	<node pkg="path_schedule" name="agent2" type="psagent" output = "screen" args="2 0 3 0 6 3 0">
    </node>
</launch>